/* Reset CSS per reimpostare i margini e i padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile per il body */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

/* Stile per l'intestazione h1 */
h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Stile per sottointestazione h2 */
h2 {
    font-size: 24px;
    color: #666;
    margin-bottom: 15px;
    text-align: center;
}

/* Stile per il form */
form {
    margin-bottom: 30px;
}

/* Stile per la tabella */
table {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 0 auto;
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;

}

/* Stile per le celle dell'intestazione della tabella */
th {
    background-color: #b8cef6;
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    padding: 10px;
}

/* Stile per le celle della tabella */
td {
    background-color: #e9eff8;
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    padding: 10px;
    width: 50%;
}

/* Stile per i select */
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
}

/* Stile per i pulsanti */
input[type="button"] {
    border-radius: 6px;
    padding: 15px 35px;
    background-color: #377dfd;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

input[type="button"]:hover {
    background-color: #306bd8;
}

/* Stile per il risultato */
#risultato {
    font-size: 25px;
    color: #333;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

/* Stile per il footer */
footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

/* Stile per il pdf */
#pdf {
    background-color: #fd4e37;
    color: rgb(0, 0, 0);
    border: solid;
    padding: 5px 10px;
    font-weight: bold;
    border-color: rgb(0, 0, 0);
    border-width: 2.5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-top: 10px;
}

/* Stile per il pdf disabilitato */
#pdf:disabled {
    background-color: #dc5f4c;
    color: rgb(62, 62, 62);
    border: solid;
    padding: 5px 10px;
    font-weight: bold;
    border-color: rgb(62, 62, 62);
    border-width: 2.5px;
    cursor: not-allowed;
    font-size: 16px;
    display: block;
    margin-top: 10px;
}

/* Stile per il pdf hover quando è abilitato */
#pdf:hover:enabled {
    background-color: #f96459;
}

/*Stile per ragione sociale*/
#ragione_sociale {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
}

#peso{
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
}

/*stile per radio*/
input[type="radio"] {
    accent-color: #306bd8;
    padding: 10px;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
}

